.venv
.venv/
venv/
__pycache__/
.
# Ignore ML Models
models/
saved_models/
*.pkl
*.bin
*.safetensors

# Ignore Databases and Data
*.db
*.sqlite
*.jsonl
*.warc
*.warc.gz
uploaded_warcs/
output/
.vscode/
.idea/
warcs/toy
warcs/index_warcs.json
secrets.toml